<section class='field'>
  <div class="enable-topic-teasing">
    <label class="checkbox-label">
      {{input type="checkbox" checked=category.enable_topic_teasing}}
      {{i18n 'dl_teaser.allow_topic_teasing'}}
    </label>
  </div>
</section>
